body
{
    margin: 0px auto
}
#title
{
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400px;
  font-style: normal;
  text-align: center; 
  text-decoration: underline;
  text-shadow: 0px 0px 1px black;
  padding: 10px;
  font-size: 40px;
}

.titleContainer
{
  background: linear-gradient(#c2a0ff,#ACF4F8);
  border: 1px solid black;
  height: 25vh;
}

.inputContainer
{
    text-align: center;
    border: 1px solid black;
    height: 74vh;
}

#api-input, #error-msg
{
    width: 50%;
    height: 5vh;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

#error-msg{
    margin-left: auto;
    margin-right: auto;
    visibility:hidden;
}
#json-input
{
    width: 50%;
    height: 40%;
    font-family: "Rubik", sans-serif;
    resize: none;
}

#enter-btn, #enter2-btn
{
    height: 6vh;
    width: 20%;
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    border-radius: 20px;
    font-family: "Rubik", sans-serif;
}

#enter-btn:hover, #enter2-btn:hover
{
    background-color: rgb(189, 189, 189);
}

