body
{
    background: linear-gradient(#C1FFF2,#c4ffd7);
    height: 100vh;
    margin: auto;
}

#info, #info2
{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400px;
  font-style: normal;
  text-align: center; 
  text-decoration: underline;
  text-shadow: 0px 0px 1px black;
  padding: 10px;
  background-color: white;
}

#all_buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.my_b
{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight:  400px;
    font-style: normal;
    font-size: 45px;
    margin: 40px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 3px solid grey;
    background: linear-gradient(#c2a0ff,#ACF4F8);
    cursor: pointer;
    
}

.my_b:hover
{
    background: linear-gradient(#ACF4F8,#c2a0ff);
}

#info2
{
    height: 29vh;
    font-size: 30px;
    background: linear-gradient(#DCFDFF,#8ef9ff)
}



